In [6]:
n1 = 20
n2 = 50
n3 = 30

if (n1 >= n2) and (n1 >= n3):
    print("Number 1 is greatest")
elif (n2 >= n1) and (n2 >= n3):
    print("number 2 is largest")
else:
    print("number 3 is largest")

number 2 is largest

In [11]:
print('''Designations available:
      Executive
      Manager
      Senior Manager''')
a = input("Enter Designation")

if a == "Executive":
    b ="30000-40000"
    print(f"The salary range of Executive is: {b}")
elif a == "Manager":
    c = "60000-90000"
    print(f"The salary range of the Manager is {c}")
elif a == "Senior Manager":
    d = "120000-160000"
    print(f"The salary of the Senior Manager is {d}")
else:
    print("Enter a valid Designation")

Designations available:
      Executive
      Manager
      Senior Manager
The salary range of the Manager is 60000-90000

In [14]:
#print the following pattern:
#  1   2   3   4   5
#  2   4   6   8   10



# The outer loop iterates over the first 5 numbers
for i in range(1,6):
    # for each number 'i', the inner loop iterates over the first 5 numbers as well
    for j in range(1,6):
        #print the product of 'i' and 'j', followed by a tab space
        print(i * j, end="\t")
    # After each row of the table, print a newline to move to the next move
    print()

1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25

In [15]:
c = 1 

while c <= 5:
    print(c)
    c+=1

1
2
3
4
5

In [19]:
nm = ["Alice", "Tom", "Marry", "James"]

b = input()
if b == "happy":
    print("give 5% bonus to james. boss is happy")
else:
    print("boss is not happy")

give 5% bonus to james. boss is happy

In [24]:
names = ["Alice", "Tom", "Marry", "James"]
salary = [30000, 40000, 45000, 40000]
print("Old salary is")
print(salary)
a = input("Enter boss's mood")
if a == "happy":
    for i in range(len(names)):
        if names[i] == "James":
            increment = salary[i]*0.05
            salary[i] += increment
else:
    print("Boss is not happy")
print("updated Salary is:")
print(salary)

Old salary is
[30000, 40000, 45000, 40000]
updated Salary is:
[30000, 40000, 45000, 42000.0]

In [28]:
import time

start_time = time.time()

duration = 10

while time.time() - start_time < duration:
    print("hi")

    time.sleep(0.3)

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [27]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in num:
    if i%3==0:
        print(f"{i} is divisible by 3")

3 is divisible by 3
6 is divisible by 3
9 is divisible by 3

In [ ]:
def add(n1,n2):
    return n1 + n2 # Return function can only be used when inside an function

add(2,5)

7